#set($_errorClassUsername = "")
#set($_errorClassPassword = "")
#if($logo_white_path && !$logo_path)
	#set($logo_path = $logo_white_path)
#end

#if($_postBack && $_postBack.userName)
	#set($userNameValue = $_postBack.userName)
#elseif($_username)
	#set($userNameValue = $_username)
#end

#set ($page_symbol = $page_symbol_authenticate_htmlform)

#define($_body)
<div class="login-container">
	<div class="login-left">
		<div class="login-logo-custom">
			#if($logo_path)
				<img src="$logo_path" alt="Logo" style="max-width: 200px; max-height: 100px;" />
			#end
		</div>

		<form method="post" class="login-form">
		<!--<div class="center">
				<h1>#message("authenticator.html-form.reset-password.view.head1")</h1>
				<p>#message("authenticator.html-form.reset-password.view.p1")</p>
			</div>-->

			#if ($_showEmailField)
				<div class="form-field">
					<label for="primaryEmail" class="$!_errorClass">#message("authenticator.html-form.reset-password.view.email")</label>
					<input type="email" name="primaryEmail" id="primaryEmail" class="block full-width mb1 field-light $!_errorClass"
						value="$!{_postBack.primaryEmail}" autofocus>
					<i class="form-field-icon icon ion-email"></i>
				</div>
			#end

			<div class="form-field">
				#if($_showEmailField)
					<label for="userName" class="$!_errorClass">#message("authenticator.html-form.reset-password.view.username")</label>
					<input type="text" name="userName" id="userName" class="block full-width mb1 field-light $!_errorClass"
						value="$!userNameValue" autocapitalize="none" autofocus>
					<i class="form-field-icon icon ion-person"></i>
				#else
					<label for="userName" class="$!_errorClass">#message("authenticator.html-form.reset-password.view.email")</label>
					<input type="text" name="userName" id="userName" class="block full-width mb1 field-light $!_errorClass"
						value="$!userNameValue" autocapitalize="none" autofocus>
					<i class="form-field-icon icon ion-email"></i>
				#end
			</div>

			<button type="submit" class="button button-fullwidth button-primary">#message("${_templatePrefix}.view.button")</button>
			<p class="center mt2 mb2">#message("authenticator.html-form.reset-password.view.or")</p>

			<div class="login-actions center py2">
				<a href="$_authUrl">
					<i class="icon ion-android-arrow-back inlineicon"></i>#message("authenticator.html-form.reset-password.view.cancel")
				</a>
			</div>
		</form>

		<div class="login-footer">
			<span>&copy; Bankly</span>&nbsp;&nbsp;<span>Contato</span>&nbsp;&nbsp;<span>Privacidade e termos</span>&nbsp;&nbsp;<a href="https://portal.staging.bankly.com.br/faq" target="_blank" rel="noopener noreferrer">FAQ</a>
		</div>
	</div>

	<div class="login-right">
		<h2>Recupere o acesso<br>em poucos passos<br>com segurança.</h2>
	</div>
</div>
#end

#parse("layouts/default")