#*
 * Partner Portal account activation email fragment (HTML)
 *#

##set($title = "")
#set($title = "#message('views.email.title')")

#define($_body)
<p>#message("views.email.verify")</p>
<a style="-webkit-font-smoothing: antialiased; transition: all .3s ease; border-radius: 8px; background: #007aff; font-weight: 700; color: #fff; border: none; cursor: pointer; display: block; font-size: 1em; line-height: 1.86875rem; padding: .575rem 1.15rem; font-family: Roboto-Medium, sans-serif; text-align: center; -moz-osx-font-smoothing: grayscale; text-decoration: none;" href="$_activationUrl?token=${token}$!{oq}">
    #message("views.email.verify.button")
</a>
#end

#parse("layouts/html-email")
